.job-item-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #272727;
  width: 340px;
  border-radius: 8px;
  margin-left: -380px;
  padding-left: 17px;
  margin-bottom: 17px;
  margin: 14px;
}
.logo-title-container {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
.company-logo {
  height: 30px;
  width: 30px;
}
.title-rating-container {
  margin-left: 8px;
}
.title {
  font-family: 'roboto';
  color: #ffffff;
  font-size: 10px;
  font-weight: 700;
}
.rating-container {
  display: flex;
  align-items: center;
  margin-top: -15px;
}
.rating-icon {
  margin-right: 5px;
  color: #fbbf24;
}
.location-job-type-container {
  display: flex;
  align-items: center;
}
.location-icon {
  color: #ffffff;
}
.location {
  font-family: 'roboto';
  color: #ffffff;
  font-size: 8px;
  margin-left: 4px;
}
.bag-icon {
  margin-left: 7px;
  color: #ffffff;
}
